<div class="card mat-card" id="card4">
    <h1>Experiencia Laboral</h1>
    <ul>
        <li>
            <h2>Ellas Hacen(2013/2020)</h2>
           <p>Trabajo en Equipo,Liderazgo,Creatividad, Iniciativa, Compromiso, Gestión de base de datos</p>
        </li>
        <li> 
            <h2>Administración de Comedor(2020/2022)</h2>
            <p>Gestión de Base de Datos,Administración de Redes Sociales,Organización de Equipos de Trabajo,Gestión de Informática y Administración</p>
        </li>
    </ul>

</div>
